h2 {
  text-align: center;
  padding: 15% 0;
  background-color: blueviolet;
  color:  orange;
}

.text-success {
  color: red;
}

/* 
a {
  color: yellow;
} */

/* a:link {
  color: red;
  text-decoration: none;

}

a:hover {
  color: hotpink;
} */ 
